.decks {
  display: flex;
  max-width: 90%;
  flex-wrap: wrap;
  gap: 1rem;
}

.home {
  background-color: #fff;
  min-height: 90vh;
  border-radius: 10px;
  padding: 2rem;
}

.home h2{
  margin-bottom: 2rem;
}
.home h3{
  margin-bottom: 2rem;
}

.add-deck {
  border: 1px solid black;
  width: 20rem;
  height: 5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.plus-icon {
  height: 50%;
}

@media(max-width: 768px){
  .home{
    padding: 1rem;
  }
  .home h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .home h3{
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
}

@media(max-width: 425px){
  .home{
    padding: .5rem;
  }
}