.deck {
  border: 1px solid rgba(4, 62, 148, 0.61);
  aspect-ratio: .7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
  overflow: hidden;
  margin: 0 1rem;
  max-width: 90vw;
  background-color: #fff;
}

.deck__head {
  text-transform: uppercase;
  padding: 2%;
  background-color: rgb(212, 221, 239);
  font-size: 1.5rem;
}

.deck__body {
  text-align: center;
  padding: 5%;
}

.deck__footer {
  width: 100%;
}

.deck__footer {
  height: 3rem;
}

@media(max-width: 768px){
  .deck{
    margin: 0 auto;
    height: 20rem;
    border-radius: 5px;
  }
  .deck p{
    font-size: 1rem;
  }
  .deck__head{
    padding: .3rem;
    font-size: 1rem !important;
  }
  .deck__body *{
    margin: .5rem;
  }
  
}
@media(max-width: 425px){
  .deck{
    margin: 0 auto;
    height: 15rem;
  }
  .deck p{
    font-size: 1rem;
  }
  .deck__head{
    padding: .3rem;
    font-size: .8rem !important;
  }
  .deck__body *{
    margin: .5rem;
  }
}